AUTH_GOOGLE_CLIENT_ID=CHANGE_ME
AUTH_GOOGLE_CLIENT_SECRET=CHANGE_ME
AUTH_APPLE_CLIENT_ID=expo.host.Exponent
AUTH_APPLE_CLIENT_SECRET=CHANGE_ME
STRIPE_PUBLISHABLE_KEY=pk_test_****
STRIPE_SECRET_KEY=sk_test_****